.git
.github
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/*.egg-info/
.venv/
venv/
.env
.DS_Store
artifacts/
/keys.yaml
.venv*/
ojs-output/
**/node_modules/
js/dist/
